build/
bin/
logs/
test/
vendor/
tmp/
website/.env.*
website/docker-compose.yaml
website/Dockerfile

broker/.env
broker/docker-file.yaml
broker/Dockerfile

.gitignore
build.sh

README.md
CHANGELOG.md
LICENSE


# 忽略所有以.log结尾的文件
*.log
